@charset "utf-8";

.container {
    max-width: 30%;
}

.btn-signup {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-signup:hover {
    color: #fff;
    background-color: #495057;
    border-color: #495057;
}
